@tailwind base;
@tailwind components;
@tailwind utilities;

/* select { */
/* -webkit-user-select: none; */
/* -moz-user-select: none; */
/* background: translate; */
/* color: white; */
/* appearance: none; */
/* } */
.categories::-webkit-scrollbar {
	display: none;
}
.card::-webkit-scrollbar {
	display: none;
}
.card-image {
	background-image: url('./public/bbc.jpg');
}
